@model User

<h2>Kullanıcı Detayları</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Ad
        </dt>
        <dd class="col-sm-10">
            @Model.FirstName
        </dd>

        <dt class="col-sm-2">
            Soyad
        </dt>
        <dd class="col-sm-10">
            @Model.LastName
        </dd>

        <dt class="col-sm-2">
            Mail Adresi
        </dt>
        <dd class="col-sm-10">
            @Model.Email
        </dd>

        <dt class="col-sm-2">
            Aktif
        </dt>
        <dd class="col-sm-10">
            @(Model.IsActive ? "Yes" : "No")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>
