@model Company

<h2>Şirket Detayları</h2>

<div>
    <h4>@Model.CompanyName</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Şirket Adı
        </dt>
        <dd class="col-sm-10">
            @Model.CompanyName
        </dd>

        <dt class="col-sm-2">
            Vergi Numarası
        </dt>
        <dd class="col-sm-10">
            @Model.TaxNumber
        </dd>

        <dt class="col-sm-2">
            Aktif
        </dt>
        <dd class="col-sm-10">
            @(Model.IsActive ? "Yes" : "No")
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CompanyId" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>
