@model IEnumerable<VehicleMaintenances>

@{
    ViewData["Title"] = "Araç Bakımları";
}

<h1>Araç Bakımları</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Bakım Tipi</th>
            <th>Nedeni</th>
            <th>Açıklama</th>
            <th>Değişen Parça</th>
            <th>Plaka No</th>
            <th>Düzenle - Detaylar - Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.MaintenanceType)</td>
                <td>@Html.DisplayFor(modelItem => item.ReasonCode)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.ChargeParts)</td>
                <td>@Html.DisplayFor(modelItem => item.Vehicle.PlateNumber)</td>
                <td>
                    <a href="/VehicleMaintenances/Edit/@item.VehicleMaintenanceId" class="btn btn-primary btn-sm">Düzenle</a>
                    <a href="/VehicleMaintenances/Details/@item.VehicleMaintenanceId" class="btn btn-info btn-sm">Detaylar</a>
                    <a href="/VehicleMaintenances/Delete/@item.VehicleMaintenanceId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/VehicleMaintenances/Create" class="btn btn-success">Bakım Ekle</a>