@model StockPart

@{
    ViewData["Title"] = "Stok Parça Detayları";
}

<h2>Stok Parça Detayları</h2>

<div>
    <hr />s
    <dl class="row">
        <dt class="col-sm-2">Parça Numarası</dt>
        <dd class="col-sm-10">@Model.PartNumber</dd>

        <dt class="col-sm-2">Parça Ad</dt>
        <dd class="col-sm-10">@Model.PartName</dd>

        <dt class="col-sm-2">Parça Tarih</dt>
        <dd class="col-sm-10">@Model.PartDate.ToString("dd/MM/yyyy")</dd>

        <dt class="col-sm-2">Parça Fiyat</dt>
        <dd class="col-sm-10">@Model.PartAmount</dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.PartId" class="btn btn-primary">Düzenle</a> |
    <a asp-action="Index" class="btn btn-secondary">Listeye Geri Dön</a>
</div>
