@model IEnumerable<StockPart>

@{
    ViewData["Title"] = "Stok Listesi";
}

<h2>Stok Listesi</h2>


<table class="table table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Parça Numarası</th>
            <th>Parça Ad</th>
            <th>Parça Tarih</th>
            <th>Parça Fiyat</th>
            <th>Stok Miktar</th> <!-- Display the stock quantity -->
            <th>Düzenle - Detaylar - Sil</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PartNumber</td>
                <td>@item.PartName</td>
                <td>@item.PartDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PartAmount</td>
                <td>@item.StockQuantity</td> <!-- Display the stock quantity -->
                <td>
                    <a href="/StockPart/Edit/@item.PartId" class="btn btn-primary btn-sm">Düzenle</a>
                    <a href="/StockPart/Details/@item.PartId" class="btn btn-info btn-sm">Detaylar</a>
                    <a href="/StockPart/Delete/@item.PartId" class="btn btn-danger btn-sm">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/StockPart/Create" class="btn btn-success">Stok Listesine Ekle</a>