@model IEnumerable<StockPart>

@{
    ViewData["Title"] = "Parça Stokları";
}

<h2>Stok Parçaları</h2>


<table class="table">
    <thead>
        <tr>
            <th>Part Number</th>
            <th>Part Name</th>
            <th>Part Date</th>
            <th>Part Amount</th>
            <th>Stock Quantity</th> <!-- Display the stock quantity -->
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PartNumber</td>
                <td>@item.PartName</td>
                <td>@item.PartDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PartAmount</td>
                <td>@item.StockQuantity</td> <!-- Display the stock quantity -->
                <td>
                    <a asp-action="Details" asp-route-id="@item.PartId">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.PartId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.PartId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Yeni Oluştur</a>
