@model IEnumerable<StockPart>

@{
    ViewData["Title"] = "Parça Stokları";
}

<h2>Stok Parçaları</h2>

<table class="table">
    <thead>
        <tr>
            <th>Parça Numarası</th>
            <th>Parça İsmi</th>
            <th>Parça Tarihi</th>
            <th>Parça Fiyatı</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.PartNumber</td>
                <td>@item.PartName</td>
                <td>@item.PartDate.ToString("dd/MM/yyyy")</td>
                <td>@item.PartAmount</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.PartId">Detay</a> |
                    <a asp-action="Edit" asp-route-id="@item.PartId">Düzenle</a> |
                    <a asp-action="Delete" asp-route-id="@item.PartId">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Yeni Oluştur</a>
