@model IEnumerable<Vehicle>

@{
    ViewData["Title"] = "Vehicles";
}

<h1>Vehicles</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Vehicle</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().PlateNumber)</th>
            <th>@Html.DisplayNameFor(model => model.First().VehicleType)</th>
            <th>@Html.DisplayNameFor(model => model.First().Year)</th>
            <th>@Html.DisplayNameFor(model => model.First().BrandModel.Brand.BrandName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Company.CompanyName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.PlateNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.VehicleType)</td>
                <td>@Html.DisplayFor(modelItem => item.Year)</td>
                <td>@Html.DisplayFor(modelItem => item.BrandModel.Brand.BrandName)</td>
                <td>@Html.DisplayFor(modelItem => item.Company.CompanyName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VehicleId" class="btn btn-warning">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.VehicleId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
